/* CSS RESET */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(250, 254, 252);
    font-size: 20px;
    font-weight: bolder; 
}

/* Adding background image */

body{
    background-image: url(Images/Fullstack1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* Removing the bullets in the navigation bar */

nav{
    text-align: center;
    border: 1px;
    border-radius: 10px;
}

nav ul{
    list-style-type: none;
    align-items: center;
}

/* Aligning list horizontally */

nav li{
    display: inline;    
}

/* Spacing the list items and removing  */

nav ul li a{
    padding: 15px;
    text-decoration: none;
    color: rgb(248, 245, 245);
    margin: 50px;
}

/* Changing link colour on hover  */

nav li a:hover{
    background-color: rgb(254, 3, 203);
    border-radius: 20px;
}

/* Allowing user know the current page they are on */

.active{
    background-color: rgb(253, 120, 4);
    border-radius: 20px;
}

/* Making navigation bar fixed while scrolling through page */

nav ul{
    position: fixed;
    top: 0px;
    width: 100%;
}
/* Styling the name */

.sni{
    position: relative;
    top: 40px;
    font-size: xx-large;
    color: rgb(253, 120, 4);
}

/* Styling the image */

img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 50px;
}

/* The first heading */

h1{
    position: relative;
    top: -50px;
    font-size: xx-large;
    color: rgb(253, 120, 4);
}

/* Blockquote */

.dev{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -50px;
}

/* This the second heading */

#intro{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -50px;
    color: rgb(253, 120, 4);
}

/* Introduction */

.san{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -50px;
}

/* My hobbies */

#hob{
    color: rgb(253, 120, 4);
}

.hb{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -50px;
    float: left;
}

/* My priorities */

#prio{
    color: rgb(253, 120, 4);
}

.pr{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -80px;
    left: 330px;
    float: left;
}

/* My skills */

#ski{
    color: rgb(253, 120, 4);
}

.sk{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -110px;
    float: right;
}

/* Contact me button */

button{
    background-color: rgb(253, 120, 4);
    padding: 40px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -10px;
    left: 70px;
}

button a{
    text-decoration: none;
}

button:hover{
    background-color: rgb(254, 3, 203);;
}

/* The paragragh in the footer section */

footer p{
    position: relative;
    top: 30px;
    left: 10px;
    color: rgb(253, 120, 4);;
    margin-bottom: 50px;
}