body{
  background-color: rgb(21, 7, 7);
  color: rgb(210, 203, 203);
}
#name {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  #role {
    font-family: Arial, Helvetica, sans-serif;
  }
  img {
    height: 200px;
    width: 200px;
    display: inline-block;
  }
  .img-cap {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .achiements {
    font-family: Arial, Helvetica, sans-serif;
  }
  .title-DNOI {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  body {
    margin: 20px;
    text-align: center;
    width: 60%;
    font-size: x-large;
  }
  #tribute-link {
    text-decoration: none;
    color: red;
  }
  .quote {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
  }
  footer {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
  }
  